<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Édition Partie</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div th:replace="~{fragments/navbar :: header}"></div>
<main class="form-wrapper-partie">
  <div class="form-box-partie">
    <h3>Édition Partie</h3>
    <br>
    <form th:action="@{/partie/update/{id}(id=${partie.id})}" method="post">
      <input type="hidden" th:field="*{id}" />
      <div class="form-group-partie">
        <label for="tournoiId">ID du tournoi</label>
        <input type="text" th:field="*{tournoi.id}" id="tournoiId" class="form-control-partie" required th:value="${partie.tournoi.id}" readonly>
      </div>
      <div class="form-group-partie">
        <label for="appUser1Id">ID du joueur 1</label>
        <input type="text" th:field="*{user1.id}" id="appUser1Id" class="form-control-partie" required th:value="${partie.user1.id}" readonly>
      </div>
      <div class="form-group-partie">
        <label for="appUser2Id">ID du joueur 2</label>
        <input type="text" th:field="*{user2.id}" id="appUser2Id" class="form-control-partie" required th:value="${partie.user2.id}" readonly>
      </div>
      <div class="form-group-partie">
        <label for="vainqueur">Vainqueur</label>
        <select name="vainqueur" id="vainqueur" class="form-control-partie">
          <option value="1" th:selected="${partie.vainqueur == 1}">Joueur 1</option>
          <option value="2" th:selected="${partie.vainqueur == 2}">Joueur 2</option>
        </select>
      </div>
      <button type="submit" class="btn-partie">Modifier</button>
    </form>
  </div>
</main>
</body>
</html>
